fieldset {
    border: none !important;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root:after {
    border: none !important;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root:before {
 border: none !important;
}

Chip:hover {
 background-color: rgb(255, 68, 0) !important;
}